 <footer class="blog-footer">
       <p>&copy; 2019 | Hashib All rights reserved</p></a>.</p>
                        <p>
                          <a href="#">Back to top</a>
                        </p>
  </footer>