<h1>Would you like to Work together?</h1>
<hr>
<div class="row">
	<div class="col-md-6">
    	<h3>Office Address</h3>
    	<p>Ontash india Technolegies, Cyber Park Calicut, Kerala State, India</p>
		<h3>Phone</h3>
		<p>9567449942</p>		
		<h3>Email</h3>
		<p><a href="mailto:hashibyp@gmail.com?subject=PortfolioContact">Email me</a></p>
	</div>
	<div class="col-md-6">
		<iframe width="450" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=sahya%20cyberpark%20calicut&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0" allowfullscreen></iframe>

	</div>
</div>
